/*HTML
<div class="container">
  <header>HEADER</header>
    <aside>MENU</aside>
    <main>CONTENT</main>
  <footer>FOOTER</footer>
</div>
*/
.container {
 display: grid; 
 grid-template-columns: repeat(12, 1fr);
 grid-template-rows: 50px 350px 50px;
}






