/*HTML
<div class="container">
  <header>HEADER</header>
    <aside>MENU</aside>
    <main>CONTENT</main>
  <footer>FOOTER</footer>
</div>
*/
.container {
  display: grid; 
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 350px 50px;
}
header {
  grid-column: span 12;
}
aside {
  grid-column: span 2;
}
main {
  grid-column: span 10;
}
footer {
  grid-column: span 12;
}





