/* positioning */
.selector {
  position: static | relative | absolute | fixed | sticky | inherit;
  float: left | right;
}

/* block model and size */ 
.selector {
  width: ;| height: ;
  margin: 0 auto; 
  box-sizing: content-box | border-box;
  border: ;
  border-color: ;
  border-style: solid | dotted | double | groove | ridge | inset | outset;
  padding: ;
  
}





