:root {
--White: #ffffff;
--Gray97: #f7f7f7;
--WhiteSmoke: #f5f5f5;
--GhostWhite: #f8f8ff;
--Snow: #fffafa;
--BabyPowder: #fefefa;
--LavenderBlush: #fff0f5;
--Seashell: #fff5ee;
--Linen: #faf0e6;
--MistyRose: #ffe4e1;
--Gray80: #cccccc;
--Gray72: #b8b8b8;
--Gray64: #a3a3a3;
--LightGrey: #d3d3d3;
--DarkSalmon: #e9967a;
--Black: #000;
--Web Grey: #808080;  
--Olive Drab: #6b8e23;  
  
  
  
  
  
}
