:root {
--White: #ffffff;
--Gray97: #f7f7f7;
--WhiteSmoke: #f5f5f5;
--GhostWhite: #f8f8ff;
--Snow: #fffafa;
--Baby Powder: #fefefa;
--LavenderBlush: #fff0f5;
--Seashell: #fff5ee;
--– MistyRose: #ffe4e1;
--Gray80: #cccccc;
--Gray72: #b8b8b8;
--Gray64: #a3a3a3;

}
