:root {
--White: #ffffff;
--Gray97: #f7f7f7;
--WhiteSmoke: #f5f5f5;
--GhostWhite: #f8f8ff;
--Snow: #fffafa;
}
 
:root {
--Black: #000;
--EerieBlack: #1b1b1b;
--Gray17: #2b2b2b;
--SmokyBlack: #100c08;
--Gray25: #404040;
--DavyGrey: #555555;
--DimGray: #696969; 
--WebGrey: #808080;
--DarkGray: #a9a9a9; 
}

:root {
--DarkBlue: #00008b;
--MidnightBlue: #191970; 
--Blue: #0000ff;
--RoyalBlue: #4169e1;
--SlateBlue: #6a5acd;
--MediumSlateBlue: #7b68ee;
--LightSkyBlue: #87cefa;
}

:root {
--DarkSlateGray: #2f4f4f; 
--Teal: #008080;  
--DarkTurquoise: #00ced1;
}

:root {
--PaleTurquoise: #afeeee; 
--Aquamarine: #7fffd4; 
--Turquoise: #40e0d0; 
--BrightAqua: #0bf9ea; 
--Cyan: #00ffff;
--LightCyan: #e0ffff;
--BlueGreen: #0d98ba;
--DarkAqua: #05696b; 
}

:root {
--Purple: #800080; 
--Magenta: #ff00ff;
}

:root {
--Gray: #808080;
--Gray80: #cccccc;
--Gray72: #b8b8b8;
--Gray64: #a3a3a3;
--LightGrey: #d3d3d3;
  
}

:root {
--DarkRed: #8b0000; 
--Red: #ff0000; 
--Crimson: #dc143c;  
}

:root {
--Olive: #808000;
--Khaki: #f0e68c; 
--Goldenrod: #daa520; 
--Gold: #ffd700; 
--Yellow: #ffff00;  
--LemonChiffon: #fffacd; 
}

:root {
--Green: #008000;  
}

:root {
--LimeGreen: #32cd32;
--PaleGreen: #98fb98; 
--Lime: #00ff00;  
}

:root {
--Maroon: #800000;  
}

:root {
--Olive: #808000;  
}

:root {
--Silver: #c0c0c0;    
}
